n8n-workflows/Sinergia Digital - Recuperación de Carritos v4 (Completo) (2).json
{
  "name": "Sinergia Digital - Recuperación de Carritos v4 (Completo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "carrito-abandonado",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2800,
        112
      ],
      "id": "7df12acc-dc12-417b-acc8-1bbb54b13123",
      "name": "Webhook - Carrito Abandonado1",
      "webhookId": "ea771c6f-4142-446f-bcfb-d8c79b2ef096"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "val-email",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "val-precio",
              "leftValue": "={{ $json.body.cart_value }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "val-customerid",
              "leftValue": "={{ $json.body.customer_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2560,
        112
      ],
      "id": "297fec8c-1f95-452a-978f-8aab341fab89",
      "name": "Validar Datos1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = { ...raw.body, ...raw };\n// Constantes de normalización (Anexo A)\nconst CART_VALUE_MAX  = 200000; // ARS — precio máx. catálogo × 1,1\nconst ABANDONMENT_MAX = 5;      // umbral de abandono recurrente\n// Pesos (Anexo A)\nconst W_VALUE      = 0.50;\nconst W_ABANDONMENT = 0.30;\nconst W_STAGE      = 0.20;\n// Valores discretos por etapa (Anexo A)\nconst STAGE_SCORES = {\n  browsing:          0.25,\n  cart:              0.50,\n  checkout_started:  0.75,\n  payment_page:      1.00,\n};\nconst cartValue        = parseFloat(body.cart_value) || 0;\nconst abandonmentCount = parseInt(body.previous_abandonment_count) || parseInt(raw.body?.previous_abandonment_count) || 0;\nconst cartStage        = body.cart_stage || raw.body?.cart_stage || 'cart';\nconst pValor    = Math.min(cartValue        / CART_VALUE_MAX,  1);\nconst pAbandono = Math.min(abandonmentCount / ABANDONMENT_MAX, 1);\nconst pEtapa    = STAGE_SCORES[cartStage] ?? 0.25;\nconst puntuacion = (pValor * W_VALUE + pAbandono * W_ABANDONMENT + pEtapa * W_STAGE) * 100;\nlet prioridad;\nif (puntuacion >= 70) {\n  prioridad = 'ALTA';\n} else if (puntuacion >= 40) {\n  prioridad = 'MEDIA';\n} else {\n  prioridad = 'BAJA';\n}\nconst items        = body.items || body.cart?.items || raw.body?.cart?.items || [];\nconst itemsResumen = items.map(i => `${i.name} (x${i.quantity}) - $${i.price}`).join(', ');\nreturn [{\n  json: {\n    customer_id:                body.customer_id   || 'sin-id',\n    name:                       body.name          || 'Cliente',\n    email:                      body.email         || '',\n    telegram_chat_id:           body.telegram_chat_id || '',\n    cart_value:                 cartValue,\n    cart_stage:                 cartStage,\n    previous_abandonment_count: abandonmentCount,\n    checkout_url:               body.checkout_url || body.cart?.checkout_url || 'https://technova.com.ar/checkout',\n    items_resumen:              itemsResumen      || 'productos seleccionados',\n    puntuacion:                 Math.round(puntuacion * 10) / 10,\n    prioridad:                  prioridad,\n    timestamp_evento:           body.timestamp    || new Date().toISOString(),\n    timestamp_procesado:        new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        112
      ],
      "id": "64e63c19-8803-490d-a26d-3ecc31591483",
      "name": "Scoring - Clasificar Lead1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rule-alta",
                    "leftValue": "={{ $json.prioridad }}",
                    "rightValue": "ALTA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Alta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rule-media",
                    "leftValue": "={{ $json.prioridad }}",
                    "rightValue": "MEDIA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Media"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2080,
        112
      ],
      "id": "5deff8c1-5530-40fb-af35-cbc676f3a12d",
      "name": "Switch - Prioridad1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "= ={{ $json.customer_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1616,
        -304
      ],
      "id": "268a6674-9585-4670-903c-4c3abe1dfce9",
      "name": "Memoria - Alta1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ \"Hola, soy \" + $json.name + \". Dejé productos en mi carrito: \" + $json.items_resumen + \". El valor total es $\" + $json.cart_value + \" ARS.\" }}",
        "options": {
          "systemMessage": "=Eres un asesor de ventas experto de TechNova, una tienda de tecnología argentina que ofrece productos de calidad con envío gratuito para compras superiores a $50.000 ARS, hasta 12 cuotas sin interés, garantía oficial de 12 meses y política de devolución de 30 días sin preguntas.\n\nTu objetivo es ayudar al cliente a completar su compra de manera amigable, empática y profesional. Nunca seas invasivo ni presiones al cliente.\n\nCuando inicies la conversación, siempre:\n1. Saluda al cliente por su nombre.\n2. Menciona específicamente los productos que tiene en su carrito (nombre y cantidad).\n3. Ofrece información relevante sobre ventajas de TechNova que apliquen a su situación.\n4. Incluye un enlace directo al checkout: https://technova.com.ar/checkout\n5. Invita al cliente a hacer preguntas sobre envío, formas de pago, stock o garantía.\n\nSi el cliente responde con dudas u objeciones, respóndelas usando la siguiente base de conocimientos:\n- Envío: Gratuito para compras mayores a $50.000 ARS. Para montos menores, el costo es de $3.500 ARS a todo el país, con entrega en 3 a 5 días hábiles.\n- Formas de pago: Tarjeta de crédito hasta 12 cuotas sin interés, tarjeta de débito, transferencia bancaria con 5% de descuento adicional, y MercadoPago.\n- Stock: Todos los productos mostrados en la tienda tienen stock disponible al momento de la consulta.\n- Garantía: 12 meses de garantía oficial del fabricante en todos los productos.\n- Devoluciones: 30 días para devoluciones sin preguntas, con flete de retiro gratuito.\n- Seguridad: La tienda opera con certificado SSL y pasarela de pago segura homologada.\n\nMantén siempre un tono cordial, conciso y orientado a resolver la duda específica del cliente. No inventes información que no esté en esta base de conocimientos. Si no sabés la respuesta, invita al cliente a contactar al soporte en soporte@technova.com.ar.\n\nNo uses markdown, asteriscos ni formato especial. Solo texto plano."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1744,
        -144
      ],
      "id": "cb2d3202-f320-49af-a2de-74b6b68b6cf0",
      "name": "AI Agent - Alta Prioridad1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Scoring - Clasificar Lead1').item.json.telegram_chat_id }}",
        "text": "=={{ $json.output.replace(/\\*\\*/g, '').replace(/\\*/g, '') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1392,
        -176
      ],
      "id": "42e6e18c-0dc8-4d1d-91a2-4429f5e3e0aa",
      "name": "Telegram - Enviar Mensaje1",
      "webhookId": "2b94516f-0207-4287-8eed-718755cdcb55",
      "credentials": {
        "telegramApi": {
          "id": "6IDSgwWmY5YqS9E4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "= ={{ $json.customer_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1600,
        320
      ],
      "id": "8926db32-3811-4295-9893-149f3370a324",
      "name": "Memoria - Media1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ \"Hola, soy \" + $json.name + \". Dejé productos en mi carrito: \" + $json.items_resumen + \". El valor total es $\" + $json.cart_value + \" ARS.\" }}",
        "options": {
          "systemMessage": "=Eres un asesor de ventas experto de TechNova, una tienda de tecnología argentina que ofrece productos de calidad con envío gratuito para compras superiores a $50.000 ARS, hasta 12 cuotas sin interés, garantía oficial de 12 meses y política de devolución de 30 días sin preguntas.\n\nRedactá un email de recuperación de carrito para el cliente.\n\nAl redactar el email:\n1. Saluda al cliente por su nombre.\n2. Menciona específicamente los productos que tiene en su carrito.\n3. Destacá 2 beneficios de TechNova relevantes para su situación.\n4. Incluye el enlace al checkout: https://technova.com.ar/checkout\n5. Invitá al cliente a responder si tiene preguntas sobre envío, formas de pago, stock o garantía.\n\nBase de conocimientos:\n- Envío: Gratuito para compras mayores a $50.000 ARS. Para montos menores, el costo es de $3.500 ARS a todo el país, con entrega en 3 a 5 días hábiles.\n- Formas de pago: Tarjeta de crédito hasta 12 cuotas sin interés, tarjeta de débito, transferencia bancaria con 5% de descuento adicional, y MercadoPago.\n- Stock: Todos los productos mostrados en la tienda tienen stock disponible al momento de la consulta.\n- Garantía: 12 meses de garantía oficial del fabricante en todos los productos.\n- Devoluciones: 30 días para devoluciones sin preguntas, con flete de retiro gratuito.\n- Seguridad: La tienda opera con certificado SSL y pasarela de pago segura homologada.\n\nTono cordial y profesional. No inventes información que no esté en esta base. Si no sabés la respuesta, invitá al cliente a contactar soporte@technova.com.ar.\n\nNo uses markdown, asteriscos ni formato especial. Solo texto plano."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1744,
        112
      ],
      "id": "6a3ab820-2d08-4380-a0f2-0f7325cd3f57",
      "name": "AI Agent - Media Prioridad1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Scoring - Clasificar Lead1').item.json.email }}",
        "subject": "¡Tu carrito en TechNova te espera! 🛒",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1488,
        112
      ],
      "id": "fd13b17d-7c04-4444-b310-bea26dd29bc4",
      "name": "Gmail - Media Prioridad1",
      "webhookId": "ed5a6d87-528e-4460-bb13-0a8e5ba2a45e",
      "credentials": {
        "gmailOAuth2": {
          "id": "z7kIkxtv1iT9PG2w",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "= ={{ $json.customer_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1648,
        688
      ],
      "id": "617f2328-65a1-485a-b8c0-4bf1efeb1184",
      "name": "Memoria - Baja1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ \"Hola, soy \" + $json.name + \". Dejé productos en mi carrito: \" + $json.items_resumen + \". El valor total es $\" + $json.cart_value + \" ARS.\" }}",
        "options": {
          "systemMessage": "=Eres un asesor de ventas de TechNova, una tienda de tecnología argentina con envío gratuito para compras superiores a $50.000 ARS, hasta 12 cuotas sin interés, garantía oficial de 12 meses y 30 días de devolución sin preguntas.\n\nRedactá un email breve de recuperación de carrito.\n\nAl redactar el email:\n1. Saluda al cliente por su nombre.\n2. Recordá los productos que tiene en su carrito.\n3. Incluí el enlace al checkout: https://technova.com.ar/checkout\n4. Invitá al cliente a contactar soporte@technova.com.ar si tiene dudas.\n\nTono cordial. Máximo 5 líneas. No uses markdown, asteriscos ni formato especial. Solo texto plano."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1760,
        496
      ],
      "id": "6befe55f-95a0-4164-8abc-76a1a5f8e936",
      "name": "AI Agent - Baja Prioridad1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Scoring - Clasificar Lead1').item.json.email }}",
        "subject": "¡No olvides tu carrito en TechNova! 🛒",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1424,
        528
      ],
      "id": "94415c5d-30ca-450d-9ed3-8fbe95acdbad",
      "name": "Gmail - Baja Prioridad1",
      "webhookId": "1c92ac83-dd92-4cf2-bbe9-6c9905517141",
      "credentials": {
        "gmailOAuth2": {
          "id": "z7kIkxtv1iT9PG2w",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SPlOtghI3z5RRZKn-BVdf0XAgHpI_uO8VULC2qZk8bQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Auditoría",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Scoring - Clasificar Lead1').item.json.timestamp_procesado }}",
            "Customer ID": "={{ $('Scoring - Clasificar Lead1').item.json.customer_id }}",
            "Nombre": "={{ $('Scoring - Clasificar Lead1').item.json.name }}",
            "Email": "={{ $('Scoring - Clasificar Lead1').item.json.email }}",
            "Cart Value": "={{ $('Scoring - Clasificar Lead1').item.json.cart_value }}",
            "Scoring": "={{ $('Scoring - Clasificar Lead1').item.json.prioridad }}",
            "Canal": "={{ $('Scoring - Clasificar Lead1').item.json.prioridad === 'ALTA' ? 'Telegram' : 'Email' }}",
            "Status": "Enviado",
            "Conversión Proxy": "Pendiente",
            "Checkout URL": "={{ $('Scoring - Clasificar Lead1').item.json.checkout_url }}",
            "Puntuacion": "={{ $('Scoring - Clasificar Lead1').item.json.puntuacion }}",
            "Cart Stage": "={{ $('Scoring - Clasificar Lead1').item.json.cart_stage }}",
            "Abandonos Previos": "={{ $('Scoring - Clasificar Lead1').item.json.previous_abandonment_count }}",
            "Mensaje IA": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cart Value",
              "displayName": "Cart Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scoring",
              "displayName": "Scoring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Canal",
              "displayName": "Canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conversión Proxy",
              "displayName": "Conversión Proxy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkout URL",
              "displayName": "Checkout URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Puntuacion",
              "displayName": "Puntuacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cart Stage",
              "displayName": "Cart Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Abandonos Previos",
              "displayName": "Abandonos Previos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensaje IA",
              "displayName": "Mensaje IA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1200,
        112
      ],
      "id": "24613a29-1aac-4ef2-9720-0d8c94c6d738",
      "name": "Google Sheets - Auditoría1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R5o1sSJvINqMO7Ia",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-respuesta",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2800,
        1008
      ],
      "id": "17cce9c4-dd82-4af8-8af6-ab60bdb8eca5",
      "name": "Webhook - Respuesta Telegram1",
      "webhookId": "bb882c1f-5b48-4c7b-9df2-d7c91a0b3f12"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "= ={{ $json.customer_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2336,
        784
      ],
      "id": "683a73e9-6ece-47bc-9848-26c1e5b19e46",
      "name": "Memoria - Objeciones1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message.text }}",
        "options": {
          "systemMessage": "Eres un asesor de ventas experto de TechNova gestionando respuestas a consultas y objeciones por Telegram.\n\nBase de conocimientos:\n- Envío: Gratuito para compras mayores a $50.000 ARS. Para montos menores, el costo es de $3.500 ARS a todo el país, con entrega en 3 a 5 días hábiles.\n- Formas de pago: Tarjeta de crédito hasta 12 cuotas sin interés, tarjeta de débito, transferencia bancaria con 5% de descuento adicional, y MercadoPago.\n- Stock: Todos los productos mostrados en la tienda tienen stock disponible al momento de la consulta.\n- Garantía: 12 meses de garantía oficial del fabricante en todos los productos.\n- Devoluciones: 30 días para devoluciones sin preguntas, con flete de retiro gratuito.\n- Seguridad: La tienda opera con certificado SSL y pasarela de pago segura homologada.\n\nRespondé de forma directa y cordial. Máximo 3 párrafos. Al final invitá al cliente a finalizar la compra con el link https://technova.com.ar/checkout. Si no sabés la respuesta, derivá a soporte@technova.com.ar.\n\nNo inventes información que no esté en esta base de conocimientos. No uses markdown, asteriscos ni formato especial. Solo texto plano."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2464,
        1008
      ],
      "id": "5651321d-a8ca-4904-b949-6db30bb27ef8",
      "name": "AI Agent - Manejo de Objeciones1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.body.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2176,
        1008
      ],
      "id": "3c8553a5-5bfe-451e-8780-2a3762c3c4bd",
      "name": "Telegram - Responder Objeción1",
      "webhookId": "6da83619-5170-4e64-83d0-078bc520009e",
      "credentials": {
        "telegramApi": {
          "id": "6IDSgwWmY5YqS9E4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1808,
        688
      ],
      "id": "837cc566-0fac-45f5-acbd-475f4b445235",
      "name": "Anthropic Chat Model4",
      "credentials": {
        "anthropicApi": {
          "id": "HRLZsOsSlPvEGZGm",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1760,
        -352
      ],
      "id": "2b02a68c-32dc-459b-8c84-52aa996da6b5",
      "name": "Anthropic Chat Model5",
      "credentials": {
        "anthropicApi": {
          "id": "HRLZsOsSlPvEGZGm",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1760,
        288
      ],
      "id": "ae0d3fe9-bb29-4bc7-bd8b-023bf23b7d5e",
      "name": "Anthropic Chat Model6",
      "credentials": {
        "anthropicApi": {
          "id": "HRLZsOsSlPvEGZGm",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -2480,
        784
      ],
      "id": "df6abb4f-81cf-4f4f-9ab1-9ed5fc1ba099",
      "name": "Anthropic Chat Model7",
      "credentials": {
        "anthropicApi": {
          "id": "HRLZsOsSlPvEGZGm",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Carrito Abandonado1": {
      "main": [
        [
          {
            "node": "Validar Datos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos1": {
      "main": [
        [
          {
            "node": "Scoring - Clasificar Lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring - Clasificar Lead1": {
      "main": [
        [
          {
            "node": "Switch - Prioridad1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Prioridad1": {
      "main": [
        [
          {
            "node": "AI Agent - Alta Prioridad1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Media Prioridad1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Baja Prioridad1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria - Alta1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Alta Prioridad1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Alta Prioridad1": {
      "main": [
        [
          {
            "node": "Telegram - Enviar Mensaje1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Auditoría1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria - Media1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Media Prioridad1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Media Prioridad1": {
      "main": [
        [
          {
            "node": "Gmail - Media Prioridad1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Auditoría1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria - Baja1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Baja Prioridad1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Baja Prioridad1": {
      "main": [
        [
          {
            "node": "Gmail - Baja Prioridad1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Auditoría1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Respuesta Telegram1": {
      "main": [
        [
          {
            "node": "AI Agent - Manejo de Objeciones1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria - Objeciones1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Manejo de Objeciones1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Manejo de Objeciones1": {
      "main": [
        [
          {
            "node": "Telegram - Responder Objeción1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Baja Prioridad1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Alta Prioridad1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Media Prioridad1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Manejo de Objeciones1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9beaef86-48bd-48cb-bac3-9f29deeb765f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b6413f447bb004913085ecf2b3a5f35261a9f100b014c486538f8d3718f22d3"
  },
  "nodeGroups": [],
  "id": "buChnJdpUmPIT5GC",
  "tags": []
}